<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.semye.dao.CharactersDao">

    <insert id="insertCharacters" parameterType="com.cms.semye.bean.Characters">

        INSERT INTO SEMYE_CHARACTERS (username, mobilephone) VALUES (#{username}, #{mobilephone})
    </insert>

    <select id="queryCharactersList" resultType="com.cms.semye.bean.Characters">
        SELECT *
        FROM SEMYE_CHARACTERS;
    </select>


    <!--登录时查询数据库-->
    <select id="queryCharacters" parameterType="com.cms.semye.bean.Characters"
            resultType="com.cms.semye.bean.Characters">
        SELECT *
        FROM SEMYE_CHARACTERS
        WHERE USERNAME = #{username} AND PASSWORD = #{password}
    </select>
</mapper>